
.divContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.798);
    margin-top: 200px;
}

.title{
    margin-top: 50px;
}

.img{
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -3;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: .95;
}

.button {
    margin: 50px 50px;
}

    

    
  