.container {
    margin-bottom: 1em;
}

.productsLink:hover {
    text-decoration: underline;
}

.priceAndIcons {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.price {
    margin-bottom: 5px;
}

.deleteIcon,
.productsLink {
    transition: transform 0.25s, color 0.25s;
}

.deleteIcon:hover,
.dashIcon:hover {
    color: red;
}

.addIcon:hover {
    color: #16697a;
}


.deleteIcon,
.dashIcon,
.addIcon:hover {
    cursor: pointer;
}


.quantity {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    /* border: 1px solid red; */
}

.count {
    padding: 0;
    margin: 0;
}

.button {
    border-radius: 7px;
    background-color: #16697a;
    padding: 0.25em .75em;
    box-sizing: content-box;
    height: 1.5em;
    border-radius: 7px;
    color: #EDE7E3;
    font-weight: 500;
    transition: border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.button:hover {
    cursor: pointer;
    border-color: #16697A;
    background-color: #16697a;
    box-shadow: 0 0.5em 0.5em -0.4em #74ad18;
    transform: translatey(-0.25em);
    cursor: pointer;
}

.button:active {
    background-color: #EDE7E3;
    color: #16697a;
    border: 1px solid #16697a;
}

.countBadge {
    background: #16697a;
}

.cartLabel {
    color: #16697A
}