.topBar {
    width: 100%;
    height: 8vh;
    background: rgba(19, 66, 41, 0.7);
    position: absolute;
}
.productCard {
    flex: 0 0 calc(101%/3);
    display: block;
    padding: 0 0.5em 0 0;
    background-color: rgba(201, 215, 217);
    /* font-size: calc(50px + 0.65vmin) */
   /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
}

/* .firstCard {
    padding-left: 0;
} */
/* .firstProductCard {
   flex: 0 0 calc(33.1%);
   display: block;
   padding: 0 0 0.5em 0;
   /* font-size: calc(12px + 0.65vmin);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }*/
.carouselBackground {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    width: fit-content;
    position: absolute;
    height: 45vh;
    padding: 11%;
    margin-top: 15vh;
    border-radius: 1%;
    padding-bottom: 12%;
    padding-left: 6%;
    padding-right: 6%;
}

/* .saleBanner {
    width: 100%;
    background-color: rgb(247, 247, 247);
    height: 10%;
    position: absolute;
    margin-top: 60vh;

} */

.carouselBackground2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: fit-content;
    position: absolute;
    height: 45vh;
    padding: 11%;
    border-radius: 1%;
    padding-bottom: 12%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 68vh;
}

.description {
    display: flex;
    flex-direction: column;
    font-size: calc(6px + 1.12vmin);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: calc(100%/3);
    position: absolute;
    color: rgb(243, 251, 251);
    height: 100%;
    justify-content: flex-end;
    padding-left: 10px;
    padding-bottom: 5px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
    font-weight: 200;
}

/* .price {
    font-size: calc(011px + 0.65vmin);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.cardValue {
    background-color: rgba(48, 73, 73, 0.7);
    /* background-color: rgba(2, 45, 22, 0.7); */
    width: 97%;
}

.brand {
    /* border-right: 1px solid white; */
    border-right: 1px solid rgb(147, 111, 111);
    padding-right: calc(3px + 0.5vw);
    margin-right: 5px;
    padding-left: calc(7px + 0.75vmin);
    font-size: calc(6.5px + 1.12vmin);
}

.heading {
    justify-self: left;
    align-self: flex-start;
    color: rgba(48, 73, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(10px + 1vmin);
    font-weight: 100;
    padding-right: 5px;
    padding-left: 1%;
    width: 20%;
    border-top: 0.5px ridge rgb(51, 84, 49, 0.45);
    border-bottom: 2px solid rgb(51, 84, 49, 0.5);
    border-left: 0.5px ridge rgb(51, 84, 49, 0.2);
}

.firstLine {
    width: 90%;
    /* background-color: rgb(51, 84, 49); */
    background-color: black;
    margin-top: 0;
    margin-bottom: 6px;
    height: 5px;
}

.secondLine {
    width: 80%;
    /* background-color: rgb(51, 84, 49); */
    background-color: black;
    margin-top: 0;
    padding-top: 0;
    height: 8px;
}

.name {
    border-right: 1px solid rgb(147, 111, 111);
    padding-right: calc(3px + 0.7vw);
    margin-right: 5px;
    padding-left: 3px
}

.price {
    /* border-right: 1px solid white; */
    font-size: calc(6.5px + 1vmin);
    padding-left: 3px;
}

.carousel {
    max-width: calc(250px + 95vmin);
    border-radius: 1%;
    box-shadow: 4px 4px 10px black;
    display: flex;
    /* padding: 1em; */
    margin-top: 3px;
}

.carousel2 {
    max-width: calc(250px + 95vmin);
    border-radius: 1%;
    box-shadow: 4px 4px 10px black;
    display: flex;
    margin-top: 3px;
    /* padding: 1em; */
}

.cardValue2 {
    background-color: rgba(48, 73, 73, 0.7);
    /* background-color: rgba(2, 45, 22, 0.7); */
    width: 97%;
    padding-left: 10px;
    font-size: calc(6.5px + 1.12vmin);
}

.header {
    font-size: calc(12px + 0.65vmin);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homeDiv {
    display: flex;
    justify-content: center;
    /* margin-top: calc(20px + 10vh); */
    min-height: 238vh;
}

.divider {
    width: 100%;
    margin-top: 130vh;
    height: 9vh;
    background-color: rgba(48, 73, 73, 0.7);
    position: absolute;
}

.aboutHeader {
    margin-top: 140vh;
    margin-right: 78%;
    /* background-color: rgba(48, 73, 73, 0.7); */
    position: absolute;
    width: 100%;
    justify-self: left;
    align-self: flex-start;
    color: rgba(48, 73, 73);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(10px + 1vmin);
    font-weight: 100;
    padding-right: 5px;
    padding-left: 1%;
    width: 20%;
    border-top: 0.5px ridge rgb(48, 73, 73, 0.45);
    border-bottom: 2px solid rgb(48, 73, 73, 0.5);
    border-left: 0.5px ridge rgb(48, 73, 73, 0.2);
}

.cardDeck {
    position: absolute;
    margin-top: 155vh;
    display: flex;
    width: 100%;
    padding: 0 8vw 0 8vw;
    height: 40vh; 
    justify-content: space-between;
    align-content: space-between;
    background: transparent;
    font-size: calc(6px + 0.95vmin);
}

.aboutCards {
    flex: 0 0 calc(79%/4);
    margin-left: 0vw;
    max-height: 80vmin;
    min-height: 70vmin;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(transparent);
}

  .aboutCards::-webkit-scrollbar {
    display: none;
  }
  
.aboutImg {
    /* border-radius: 1%; */
    /* width: 100%; */
    object-fit: cover;
    min-height: 47%;
    max-height: 47%;
}

.aboutBody {
    background-color: rgba(48, 73, 73, 0.8);
}

.aboutName {
  color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 0.95vmin)
}

.aboutTitle {
    color: rgb(215, 213, 213);
    border-bottom: 1px solid rgb(166, 164, 164);
    padding-bottom: 3px;
    font-size: calc(6px + 0.95vmin)
}

.aboutSummary {
    color: rgb(207, 203, 203);
}

.linkWrapper {
    width: 13%;
    margin-right: 0.75%;
    display: flex;
    justify-content: space-between;
}

.backgroundImg {
    /* background-image: url("../../public/abstractMountain.jpg"); */
    /* background-image: url("../../public/mountainBackground.png"); */
    /* background-image: url("../../public/altMountainBackground.png"); */
    /* background-image: url("../../public/campingBackground.png"); */
    /* background-image: url("../../public/SolidForest.png"); */
    background-image: url("../../public/mountainBackground3.png");


    /* Set a specific height */
    
    /* margin-bottom: 0 auto; */
    min-width: 100%;
    /* margin-bottom: 140vh; */
    margin-top: 130vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

@media screen and (max-width:1500px) { 
    .cardDeck {
        padding: 0 4vw 0 4vw;
      }
       
      .aboutCards {
        flex: 0 0 calc(90%/4);
        min-height: 75vh;
      }
}

@media screen and (max-width:990px) { 
    .cardDeck {
      padding: 0 2vw 0 2vw;
    }
     
    .aboutCards {
      flex: 0 0 calc(97%/4);
      min-height: 75vh;
    }

    .heading {
        min-width: 35%;
    }
    .description {
        width: 48%;
    }

    .productCard {
        flex: 0 0 calc(51%);
    }
  
  
  }

@media screen and (max-width:550px) {
    .aboutCards {
        margin-left: 0vw;
        flex-basis: auto;
        min-height: 23.5%;
        overflow-y: scroll;
        overflow-x: hidden;
        background: linear-gradient(transparent);
    }
    .aboutImg {
        min-height: 53%
    }
    .cardDeck {
        position: absolute;
        margin-top: 155vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 100%;
        max-width: 100%;
        min-height: 255vh;
        
        padding: 0 18.5vw 0 18.5vw;
        justify-content: space-between;
        align-content: space-between;
        background: transparent;
        font-size: calc(6px + 0.95vmin);
    }
    .homeDiv {
        min-height: 440vh;
    }
    .heading {
        min-width: 45%;
    }
    .aboutHeader {
        min-width: 55vw;
        margin-left: 35vw;
    }
    .productCard {
        flex: 0 0 calc(100%);
        display: block;
        padding: 0 0 0 0;
        background-color: rgba(201, 215, 217);
        /* font-size: calc(50px + 0.65vmin) */
       /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
    }
    .description {
        font-size: calc(8px + 1vmin);
        width: 100%;
    }
    .price, .brand{
        /* border-right: 1px solid white; */
        font-size: calc(8px + 1vmin);
    }
    .cardValue2 {
        font-size: calc(8px + 1vmin);
    }

}

