.image {

}

.productCard {
   flex: 0 0 calc(100%/3);
   display: block;
   padding: 0 0.5em 0 0;
   /* font-size: calc(12px + 0.65vmin);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
/* .firstCard {
    padding-left: 0;
} */
/* .firstProductCard {
   flex: 0 0 calc(33.1%);
   display: block;
   padding: 0 0 0.5em 0;
   /* font-size: calc(12px + 0.65vmin);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }*/

.description {
    display: flex;
    flex-direction: column;
    font-size: calc(12.5px + 0.65vmin);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: calc(100%/3);
    position: absolute;
    color: rgb(243, 251, 251);
    height: 100%;
    justify-content: flex-end;
    padding-left: 10px;
    padding-bottom: 5px;
}
.price {
    font-size: calc(12.5px + 0.65vmin);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(243, 251, 251);
    display: inline;
}
.cardValue {
    display: inline
}

.carousel {
    max-width: calc(250px + 95vmin);
    border-radius: 1%;
    box-shadow: 4px 4px 10px black;
    display: flex;
    /* padding: 1em; */
}


.header {
    
   font-size: calc(12px + 0.65vmin);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homeDiv {
    display: flex;
    justify-content: center;
    margin-top: calc(20px + 10vh);
    margin-bottom: 50px;
}