.icon {
    margin-bottom: 2px;
}

/* .TitleandIcon {
    border: 1px solid red;
} */

/* .links {
    border: 1px solid red;
} */

.dropdown {
    background-color: #40916C;
}

.cartIcon {
    font-size: 20px;
}