.icon {
    margin-bottom: 2px;
}

/* .TitleandIcon {
    border: 1px solid red;
} */

/* .links {
    border: 1px solid red;
} */

.dropdown {
    background-color: #40916C;
    /* changed by Sam */
    background-color: rgb(19, 66, 41);
}

.logout {
    padding: 2px;
}

/* NAVBAR TOGGLER */
/* div {
    color: red;
} */

#container-fluid {
    color: red;
}

.navbar {
    background-color: white;
    border-color: white;
    color: white;
}

.mainBar {
    background: linear-gradient(90deg, rgb(41, 79, 56) 0%, rgba(19, 66, 41, 0.916) 100%);
    /* height: calc(18px + 5vh); */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(7px + 1.1vh);
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(10px + 1.1vh);
    margin-left: 8px;
}

.cartIcon,
.profileIcon {
    font-size: calc(5px + 1.35vh)
}

.cartIconLi,
.profileIconLi {
    padding-top: 7px;
}

.logOut {
    text-decoration: none;
}

.logOut:hover {
    text-decoration: underline;
}