.icon {
    margin-bottom: 2px;
}

/* .TitleandIcon {
    border: 1px solid red;
} */

/* .links {
    border: 1px solid red;
} */

.dropdown {
    background-color: #40916C;
}

.cartIcon {
    font-size: 20px;
}
/* NAVBAR TOGGLER */
/* div {
    color: red;
} */

#container-fluid {
    color: red;
}

.navbar{
    background-color: white;
    border-color: white;
    color: white;
}