/* .order-confirmation-container {
    color: purple;
} */

.ordercontainer {
    outline: auto;
    background-color: lightgray;
    margin-top: 100px;
}

/* span {
    background-color: yellow;
} */