.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ordercontainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 3px solid black; */
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    margin: 10%;
    background-color: rgba(211, 211, 211, 0.798);
}

.button {
    margin-bottom: 20px;
}

/* line: our order has been received */
.h1OrderReceived {
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 90px;
}

/* checkmark img */
.imgCheckmark {
    width: 6rem;
    height: 6rem;
    margin-bottom: 50px;
}

/* line: Thank you for your purchase! */
.h1ThankYou {
    margin-bottom: 50px;
}

/* line: Your order confirmation number is... */
.pConfirmationNum {
    margin-bottom: 50px;
}

.detailsContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 75%;
    max-width: 75%;
}

.itemHeader,
.priceHeader {
    margin: 0 1px 0 4px;
}

.quantityHeader {
    font-weight: 600;
}

.itemContent,
.totalPrice {
    margin: 0 4px 0 1px;
}

.itemContent {
    font-weight: 300;
}

.orderDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.orderItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 3px 0;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


@media (min-width: 768px) {
    .ordercontainer {
        justify-content: center;
        align-items: center;
    }

    .h1ThankYou {
        align-items: center;
    }

    .h1OrderReceived {
        align-items: center;
    }

}

