/* .productCard{
    border: 3px solid black;
    padding: 10px;
    margin: 1em;
    background-color: #F8DFC8;
    box-shadow: 10px 10px 2px 1px #B1DBDD;
    max-width: 20%;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
    /* margin-left: 28%;} */


.productCard{
    border: 2px solid black;
    border-radius: 4%;
    margin: 2em;
    /* background-color: #B7E4C7; */
    background-color: red;
    box-shadow: 6px 6px 1px .5px #344E41;
    /* display: flex;
    flex-direction: column; */
    /* width: calc(150px + 18vw); */
    height: fit-content;}

.header {
    color: #007F5F;
    font-size: calc(6px + 0.9vh);
}

.description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
}

h3, p {
    margin: 0;
    margin-right: calc(4px + 0.3vw);
}

h3 {
    border-right: 1px solid rgb(19, 76, 19);
    padding-right: 3px;
}

.image {
    border-radius: 1%;
}
.container {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99vw;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

.cartButton{
    border-radius: 7px;
    background-color: #16697a;
    color: #EDE7E3;
    font-weight: 500;
    transition: border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.cartButton:hover{
    cursor: pointer;
    border-color: #16697A;
    box-shadow: 0 0.5em 0.5em -0.4em #EEEF20;
    transform: translatey(-0.25em);
    cursor: pointer;
}

.cartButton:active {
    background-color: #EDE7E3;
    color: #16697a;
    border: 1px solid #16697a;
}