.mainContainer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1Profile {
    padding: 50px;

}

.h3 {
    padding-bottom: 75px;
    text-align: center;
    color: rgb(41, 79, 56);
}

.h5 {
    padding-top: 50px;
}

.ul {
    list-style: none;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    min-width: 500px;

    
    
}

.li {
    list-style: none;
    
    
}

.button {
    margin-bottom: 100px;
    margin-top: 20px;

}

