.mainContainer {
    text-align: center;
}
.h1Profile {
    padding: 50px;
    background-color: lightblue;
}

.h3 {
    padding-bottom: 75px;
    text-align: center;
}

.h5 {
    padding-top: 50px;
}

.ul {
    list-style: none;
    color: rebeccapurple;
        border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

.li {
    color: blue;
    list-style: none;
    
}

.orderDivCard {
    /* border: 2px solid black;
    padding: 20px;
    margin: 20px; */
}