.outterContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top: 100px;
    /* background-color: rgb(252, 228, 68); */
}

.innerContainer {
    background-color: rgba(11, 36, 23, 0.643);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTitle {
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}

.submit, .submitButton{
    margin-top: 50px;
    margin-bottom: 50px; 
}

  /* makes gif the background img for the entire page */
  .img {
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -3;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: .55;
  }

  .registerForm {
    color: white;
}