.productDiv {
    /* border: 1px solid pink; */
    margin-bottom: 2.5em;
    background-color: #168AAD25;
    border-radius: 8px;

}

.imageDiv {
    padding: 0;
    border-radius: 8px;
}

.image {
    border-radius: 8px;
}

.detailsDiv {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.5%;
    padding: 15px 12.5px;
    /* background-color: #168AAD25; */
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.cartButton {
    border-radius: 7px;
    background-color: #16697a;
    color: #EDE7E3;
    font-weight: 500;
    transition: border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.cartButton:hover {
    cursor: pointer;
    border-color: #16697A;
    box-shadow: 0 0.5em 0.5em -0.4em #EEEF20;
    transform: translatey(-0.25em);
    cursor: pointer;
}

.cartButton:active {
    background-color: #EDE7E3;
    color: #16697a;
    border: 1px solid #16697a;
}

.cartControl {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.quantityControl {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* margin: 0 5px;
    padding: 0 5px; */
}

.count {
    margin: 0;
    padding: 0;
}