
.singleDiv{
    margin-top: 10vmin;
}

.productContainer {
    margin-top: 10px;
}

.productDiv {
    border: 1px solid black;
    margin-bottom: 2.5em;
    /* background-color: #168AAD25; */
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imageDiv {
    padding: 0;
    margin: 0;
    border-radius: 8px;
}

.image {
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.detailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.5%;
    padding: 18px;
}

.titles {
    margin-bottom: 2px;
}

.size {
    text-align: end;
}

.contentText {
    font-size: large;
}

.descDiv {
    padding: 0 2.5em;
}

.descText {
    font-weight: 300;
    font-size: larger;
}

.iconDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
}

.cartIcon,
.deleteIcon,
.arrowIcon,
.quantIcons {
    font-size: 2em;
    transition: transform 0.25s, color 0.25s;
}

.cartIcon,
.deleteIcon,
.arrowIcon,
.quantIcons:hover {
    cursor: pointer;
}

.deleteIcon {
    font-size: 1.25em;
}

.cartIcon:hover {
    cursor: pointer;
    transform: translatey(-0.15em);
}

.deleteIcon:hover {
    color: red;
}

.subIcon:hover {
    color: red;
}

.addIcon:hover {
    color: #80B918
}

.arrowIcon:hover {
    color: #80B918;
}

.boogerAIDS {
    border: 1px solid black;
}

.cartControl {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.quantityControl {

    margin-left: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: 2em; */
    /* margin: 0 5px;
    padding: 0 5px; */
}

.deleteControl,
.quantityControl {
    margin: 0 .5em;
}

.count {
    margin-bottom: 4px;

    font-size: 2em;
}

/* .test {
    border: 1px solid black;
} */

.flexRow {
    margin: 1.5em 0;

}