/* .productCard{
    border: 3px solid black;
    padding: 10px;
    margin: 1em;
    background-color: #F8DFC8;
    box-shadow: 10px 10px 2px 1px #B1DBDD;
    max-width: 20%;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
    /* margin-left: 28%;} */


/* .productCard {
    border: 2px solid black;
    border-radius: 1%;
    margin: 2em;
    made a change here experimenting with a gradient, feel free to reverse it or modify it! -Sam
    background: linear-gradient(120deg,rgb(216, 231, 222) 0%, rgb(201, 231, 212) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(242, 252, 245) 50%);
    background-color: #B7E4C7;
    background-color: red;
    box-shadow: 6px 6px 1px .5px #344E41;
    display: flex;
        flex-direction: column;
    height: fit-content;
} */

/* .header {
    color: #007F5F;
    font-size: calc(6px + 0.9vh);
}

.description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
} */

/* h3, p {
        margin: 0;
        margin-right: calc(4px + 0.3vw);
    }
    
    h3 {
        border-right: 1px solid rgb(19, 76, 19);
        padding-right: 3px;
    } */

/* .image {
    border-radius: 1%;
} */

/* .container {
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99vw;
} */
.productDiv {
    border: 1px solid pink;
    margin-bottom: 2.5em;
}

.detailsDiv {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailRow {
    border: 1px solid red;
}


.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.cartButton {
    border-radius: 7px;
    background-color: #16697a;
    color: #EDE7E3;
    font-weight: 500;
    transition: border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.cartButton:hover {
    cursor: pointer;
    border-color: #16697A;
    box-shadow: 0 0.5em 0.5em -0.4em #EEEF20;
    transform: translatey(-0.25em);
    cursor: pointer;
}

.cartButton:active {
    background-color: #EDE7E3;
    color: #16697a;
    border: 1px solid #16697a;
}

.cartControl {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.quantityControl {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* margin: 0 5px;
    padding: 0 5px; */
}

.count {
    margin: 0;
    padding: 0;
}